:root {
    --primary-color: #4b5c46;
    --secondary-color: #5e503f;
    --tertiary-color: #c6ac8f;
    --quaternary-color: #0A0908;
    --quinary-color: #fffff8;
    --error: rgb(228, 46, 1);
    --spacing-one: calc(1rem * 0.5);
    --spacing-two: calc(1rem);
    --spacing-five: calc(2.5rem);

}

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Raleway:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-decoration-skip-ink: none;
    background: var(--quinary-color);
    color: var(--quaternary-color);
    font-family: 'Raleway', sans-serif;
}

header {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("./assets/cover/cover_image.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 20px 0;
}

.nav-link {
    background-color: rgba(0, 0, 0, 0);
    color: var(--quinary-color);
    border: none;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}
